<header class="header-home">
  <!-- Start Header -->
  <div class="logo">
    <img class="home-logo" src="../../assets/I-Track Logo.png" alt="itrack logo">
  </div>
  <nav class="navigation">

    <!-- Mobile menu -->
    <div class="mobile-menu">
      <span class="bar bar1"></span>
      <span class="bar bar2"></span>
      <span class="bar bar3"></span>

    </div>

    <!-- Desktop menu -->
    <ul class="menu">
      <!-- Mobile menu -- want to relocate to this position
          <div class="mobile-menu">
            <span class="bar bar1"></span>
            <span class="bar bar2"></span>
            <span class="bar bar3"></span>
          </div> -->

      <li class="menu-item"*ngFor="let link of links">
        <a [routerLink]="link.path">{{link.title}}</a>
      </li>
      <li class="menu-item"><a class="sign-up-button" href="/">Sign Up</a></li>
    </ul>
  </nav>
</header> <!-- End Header -->
